<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="5;url=/web/finalSuccess" />
  <title>Document</title>
  <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<div class="container">
  <!-- Phần header -->
  <div class="header">
    <h1 class="logo">
      <a href="">
        <img src="https://upload.nganluong.vn/public/css/newlanding/img/nganluong-logo-color" alt="NgânLượng.vn" class="logo">
      </a>
    </h1>
    <div class="dlabel">
      <a href="">
        <img src="https://upload.nganluong.vn/public/css/checkout/version20/images/vietnam-flag.png" alt="">
        <span class="dropdown-toggle right"></span>
      </a>
    </div>
  </div>
  <!-- Kết thúc phần header-->

  <!-- Phần main-->
  <div class="main">
    <div class="col-span-4 payment-methods">
      <div class="container">
        <div class="success">
          <img src="https://png.pngtree.com/png-vector/20191028/ourmid/pngtree-green-tick-check-mark-icon-cartoon-style-png-image_1891093.jpg" alt="">
          <h2>Thanh toán thành công!</h2>
        </div>
        <div class="success-message">
          <img src="https://media.istockphoto.com/id/1335247217/vi/vec-to/bi%E1%BB%83u-t%C6%B0%E1%BB%A3ng-%C4%91ang-t%E1%BA%A3i-h%C3%ACnh-minh-h%E1%BB%8Da-vector.jpg?s=612x612&w=0&k=20&c=nFVpicF4jPEgRgsjrsGe7I-8n2R3gK2wRyTAPEv4Rls=" alt="">
          <div class="message">
            <p>Hóa đơn của bạn đang được gửi về Website mua hàng!</p>
            <p>Xin vui lòng KHÔNG ĐÓNG TRÌNH DUYỆT!</p>
            <p>Bạn cần giữ nguyên trình duyệt để nhận được vé tàu ở trang DSVN.</p>
          </div>
        </div>

        <div class="info" >
          <div>
            <p>Bạn vừa thanh toán thành công 20.000đ cho người bán nguyencamhue@gmail.com. Ngân Lượng sẽ thông báo cho người bán bằng Email để thực hiện cam kết thỏa thuận với bạn (nếu có).</p>
          </div>
          <div class="info-1">
            <b>Cảm ơn bạn đã sử dụng dịch vụ của Ngân Lượng!</b>
          </div>
        </div>
        <div>
          <p>Nếu cần trợ giúp vui lòng liên hệ: Hotline: 1900-5858-99 - Email: support@nganluong.vn</p>
        </div>
      </div>


    </div>
    <div class="col-span-8 order-info">
      <div class="contact-info">
        <div class="merchantlogo">
          <img src="https://upload.nganluong.vn/public/images/merchant_logo_default_new.png" alt="">
        </div>
        <p>Trần Lệnh Phú</p>
        <p>📞 0945767061</p>
        <p>📧 lenhphu734@gmail.com</p>
      </div>
      <div class="order-details">
        <div class="icon-nldb">
          <img src="https://upload.nganluong.vn/public/css/checkout/version20/images/silver_60.png" alt="">
        </div>

        <div class="nldb-boxCont">
          <div class="nldbtxt">Người Bán Đảm Bảo</div>
          <p>Người mua được Ngân Lượng bảo hiểm 100% giá trị giao dịch</p>
        </div>

      </div>

    </div>
  </div>
  <!--Kết thúc phần main-->

  <!--Phần footer-->
  <div class="footer">
  </div>
  <!--Kết thúc phần footer-->

</div>

</body>
</html>